@{
    Layout = "~/Views/Layout/ClientLayout.cshtml";
    ViewBag.Title = "Home Page";
}

<section class="features3 cid-rdMjIPJePP" id="features3-9">
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="~/Content/ClientTemplate/assets/images/01.jpg" alt="Candidate">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            CANDIDATES
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Company can choose the best candidates for the job, and we will help you connect with that candidates .
                        </p>
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="@Url.Action("Index","Candidate")" class="btn btn-primary display-4">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="~/Content/ClientTemplate/assets/images/02.jpg" alt="Company">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            COMPANY
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Candidate can choose the best company for the self, and we will help you connect with that company.
                        </p>
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="@Url.Action("Index","Company")" class="btn btn-primary display-4">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>