
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/ClientLayout.cshtml";
}

<section class="testimonials4 cid-rdU3m5f0ue" id="testimonials4-15">




    <div class="container">
        <h2 class="pb-3 mbr-fonts-style mbr-white align-center display-2">
            Japanese News
        </h2>

        <div class="col-md-10 testimonials-container">



            <div class="testimonials-item">
                <div class="user row">
                    <div class="col-lg-3 col-md-4">
                        <div class="user_image">
                            <img src="~/Content/ClientTemplate/assets/images/mbr-2-300x200.jpg" alt="" title="">
                        </div>
                    </div>
                    <div class="testimonials-caption col-lg-9 col-md-8">
                        <div class="user_text ">
                            <p class="mbr-fonts-style  display-7">
                                <em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos voluptas fugiat blanditiis, temporibus expedita cumque doloribus ea, officiis consequuntur repellat minus ad veritatis? Facere similique accusamus, accusantium sunt!"</em>
                            </p>
                        </div>
                        <div class="user_name mbr-bold mbr-fonts-style align-left pt-3 display-7">
                            Read more
                        </div>

                    </div>
                </div>
            </div><div class="testimonials-item">
                <div class="user row">
                    <div class="col-lg-3 col-md-4">
                        <div class="user_image">
                            <img src="~/Content/ClientTemplate/assets/images/mbr-3-300x200.jpg" alt="" title="">
                        </div>
                    </div>
                    <div class="testimonials-caption col-lg-9 col-md-8">
                        <div class="user_text">
                            <p class="mbr-fonts-style  display-7">
                                <em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos voluptas fugiat blanditiis, temporibus expedita cumque doloribus ea, officiis consequuntur repellat minus ad veritatis? Facere similique accusamus, accusantium sunt!"</em>
                            </p>
                        </div>
                        <div class="user_name mbr-bold mbr-fonts-style align-left pt-3 display-7">
                            Read more
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>